button{
    background-color: yellow;
    border: 1px solid black;
    margin-left: 45%;
    margin-top: 10px;
}
label{
    margin-right: 10px;
  

}
.form-group{
    margin-left: 45%;
    margin-top: 30px;
    width: 20%;
}