header, footer {
    height: 50px;
    background-color: #777;

}

main{
    margin: 50px 0;

}
.blog{
    width: 500px;
    margin: 0 auto;
}


.blocco {
    width: calc(100% / 3 - 2px);
    height: 300px;
    background-color: red;
    display: inline-block;
    margin-left: -4px;
    margin-bottom: -3px;
    border: 1px solid black;
}

