/* IMPOSTAZIONI GENERALI */
html {font-size: 62.5%;}
body { 
    font-family: Poppins, 'Helvetica Neue', sans-serif;
    font-size: 1.4rem;
    line-height: 1.5;
    padding: 15px;
    background-image: url('../img/sfondo.png');
    background-position: center center;
}
* {box-sizing: border-box;}
hr {display: none;} /* rimuove l'elemento */

/* HEADER */
header {
    background: rgb(0,160,198);
    background: linear-gradient(180deg, rgba(0,160,198,1) 0%, rgba(3,109,134,1) 68%);
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    box-shadow: 0 3px 3px #444;
    margin-bottom: 1.7em;
    padding: 2.5em 2em;
    position: sticky; /*blocca l elemento durante lo scorrimento*/
    top: 10px;
    z-index: 1;
   
}
header div img {
    margin-bottom: 20px;
}
header nav ul {
    margin: 0;
}
header nav li {
    list-style: none;
    display: inline-block;
    margin: 0 2%;
    
    
}
header nav li a {
    color: white;
    text-decoration: none;
}
header nav li a:hover {
    color: red;
}
header nav li a::before {
    content: "\22c6\0020";
}

/* MAIN */
main {
    background-color: #fff;
    box-shadow: 0 3px 3px #444;
    padding: 2em 1em;
    margin-bottom:1.5em ;
}
section { 
    background-color: #e3e3e3;
    padding: 1em;
    margin-bottom: 2em;
    position: relative;
}
section h2 {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1em;
    background: linear-gradient(yellow, green);
    position: absolute;
    top: -0.8em;
    left: 15px;
    padding: 0 0.8em;

}

/* ELEMENTI NEL MAIN - ARTICLE */
h1 {
    font-size: 2.6rem;
    font-weight: bold;
    letter-spacing: -0.03em;
    margin-bottom: 0.7em;
}
p, address, ul, ol, dl, blockquote {
    margin-bottom: 1.2em;
}
h1 + p {
    color: #a0a0a0;
}
ul, ol {
    margin-left: 2em;
}
a {
    color: #00A0C6;
    font-weight: bold;
}
strong {
    color: #a02571;
    font-weight: bold;
}
code {
    background-color: #e3e3e3;
    border: 1px solid #969494;
    border-radius: 5px;
}
iframe {
    width: 100%;
    height: auto;
    margin-bottom: 2em;
    border-radius: 20px;
}

/* TABELLE */
table {
    margin-bottom: 2em;
}
caption {
    font-weight: bold;
    font-style: italic;
}
thead tr {
    background-color: #3f6bca;
    color: #ffffff;
}
th, td {
    padding: 12px 15px;
    vertical-align: bottom;
    text-align: center;
}
tbody tr {
    border-bottom: 1px solid #dddddd;
}

tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

tbody tr:last-of-type {
    border-bottom: 2px solid #3f6bca;
}

/* FORM */
input {
    padding: 5px;
    border: 0;
    border-bottom: 1px dashed #333;
}
button {
    padding: 4px 7px;
    background-color: #3f6bca;
    border: 0;
    color: white;
    font-weight: bold;
}

/* ELEMENTI NELL' ASIDE */
aside h2 {
    text-align: center;
    color: #333;
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1em;
}
aside div {
    background-color: #e3e3e3;
    border: 1px solid #c3c3c3;
    margin-bottom: 1em;
    padding: 1em;
}
aside div p:last-child {
    margin-bottom: 0;
    font-size: 0.8em;
    text-align: right;
}


/* FOOTER */
footer {
    background: rgb(53,53,53);
    background: linear-gradient(0deg, rgba(53,53,53,1) 0%, rgba(5,85,103,1) 68%);
    box-shadow: 0 3px 3px #444;
    color: #f0f0f0;
    padding: 1em;
    text-align: center;
    font-size: 1.2rem;
    
}
footer a {
    color: fuchsia;
}

article img{
    float: left;
}

.torna-su {
    position: fixed;
    bottom: 10px;
    right: 10px;
}
.social {
    position: fixed;
    bottom: 80px;
    right: 10px;
}
.torna-su a, .social a {
    color: rgb(182, 22, 174);
    font-size: 4rem;
    display: block;
    font-size: 20px;
    margin-bottom: 40px;
}
    .social a {
        color: rgb(7, 81, 26);
        font-size: 20px;
    }
.torna-su .far, .social .far {
    background: white;
}