.card{
    width: 150px;
    height: 250px;
    border: solid 1px black;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.row{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}