/* You can add global styles to this file, and also import other style files */
nav{
    display: flex;
    width: 100%;
    background-color: red;
    
}
li{
    color: red;
    list-style-type: none;
    margin-left: 10px;
}

.btn {
    margin-left: 40%;    
    background-color: red;
}
