.btn-primary{
    background-color: aqua;
    border-color: black;
    color: #000;
}

.container.container-con-bordo{
    border: 1px solid black;
}
.accordion-button.accordion-rosso:not(.collapsed){
    background-color: red;
}