h1{
    text-align: center;
    margin-top:30px;
    font-size: 3rem;
    color: red;
}
table{
    margin-top:40px;
    margin-left:15%;
    margin-right: 15%;
}
td{
    padding: 10px;
}
tr:nth-child(even){
    background-color:rgb(32, 148, 237);
}
.head{
    background-color: rgb(45, 43, 43);
    color: white
}
.head td{
    font-size:1.5rem;
}
#update{
    text-align:center;
    margin: auto 300px;

}
