$background: rgb(124, 7, 208);
$width: 300px;
$btn-primary: rgb(48, 157, 241);
$btn-secondary: rgb(255, 153, 0);
$li: white;
$padding: 10px;
$margin: 30px 150px 30px 150px;
$text-decoration: underline;
$border-radius: 5px;
$transform: scale(1.1);