.accordion-row button{
    border: none;
    width: 100%;
    padding: 15px;
}

.accordion-row .content{
    border: 1px solid #ccc;
    height: 0;
    padding: 0;
    overflow: hidden;
}
.accordion-row .content.open{
    height: auto;
    padding: 15px;
}