@media screen and (min-width: 768px) and (max-width:1200px){

#blog{
    display: flex;
    flex-direction: row;
    height: 1%;
    width: 64%;
    margin-right: 40%;
    text-align: center;
    margin-top: 40px;
}
.img1{
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    height: 170px;

}
.img2{
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    height: 170px;

}
.img3{
    display: flex;
    flex-direction: row;
}
.img4{
    display: flex;
    flex-direction: row;
}
.img5{
    display: flex;
    flex-direction: row;
    height: 170px;
}

.img6{
        display: flex;
        flex-direction: row;
        height: 170px;
}
.food1{
    margin-right: 50%;
    margin-bottom: 10px;
    margin-top: 20px;
    width: 50px;

}
.food2{
    margin-right: 50%;
    margin-bottom: 10px;
    margin-top: 20px;
    width: 50px;
   
}
.food3{
    margin-right: 50%;
    margin-bottom: 10px;
    margin-top: 20px;
    width: 50px;
    
    
}

.testi1{
padding: 10px 80px;
height: 150px;
background-color: white;

}
.testi2{
padding: 10px 80px;
background-color: white;
height: 150px;
}
.testi3{
padding: 10px 80px;
background-color: white;
height: 150px;
}
.testi4{
padding: 10px 80px;
background-color: white;
height: 150px;
}
.testi5{
padding: 10px 80px;
background-color: white;
height: 150px;
}
.testi6{
padding: 10px 80px;
background-color: white;
height: 150px;
}
.bottone1{
    background-color: orangered;
    padding: 20px 100px;
    margin: 10px 25%;
}



#e-mail{
width: 100%;
margin-bottom: 10px;
}
#pulsante{
    width: 60%;
    height: 30px;
    
}
 
   
footer{
    display: flex;
    flex-direction: row;
    }
       
      
    .copyright{
        text-align: center;
       
    }
    .subscribe{
    display: flex;
    flex-direction: column;
    }



}

