body{

}
nav{

}

#blog{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 500px;
    margin-left: 40px;
    text-align: center;
    background-color: green;
    
}
.food1{
    display: flex;
    flex-direction: row;
    width: 45%;
    text-align: center;
    border: 1px solid;
}
.food2{
    display: flex;
    flex-direction: row;
    width: 45%;
    text-align: center;
    border: 1px solid;
}
.food3{
    display: flex;
    flex-direction: row;
    width: 45%;
    text-align: center;
    border: 1px solid;
}


.subscribe span{
    color:orangered;
    font-weight: bold;
}

.subscribe{
    background-image: url(../images/subscribe-bg.jpg);
    display: flex;
    flex-direction: column;
    text-align: center;
    color: white;
    font-size:xx-large;
    
}

.subscribe div p{
    font-size:small;
    font-weight: bold;
}

.menu h3,h4{
    font-weight: bold;
    
}

.menu h3{
    text-align: center;
}
.menu h3 span{
    color: orangered;
}

.menu hr{
    width: 150px;
    opacity: 0.5;
}

#week{
    color: orangered;
}

.elenco-menu {
    display: grid;
  
    
  
}

.elenco-menu span{
    color: gray;
    border-bottom:1px dashed lightgray;
    grid-column-start: 1;

}

#more-info:hover{
    background-color: orangered;
    color: white;
    transition: all 0.5s;
}

#more-info{
    color:orangered;
    text-decoration: none;
    border: 1px solid orangered;
}

#orange-info{
    display: flex;
    padding:20px;
    justify-content: flex-end;
}

/*------------------ FOOTER ---------------*/
footer{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
}

footer span{
    color: orangered;
}
.footerimg{
    display: flex;
    flex-direction: row;
    width: 250px;
    margin-top: 20px;
    justify-content: space-around;   
}
.contactinfo{
    width: 220px;
    height: 250px;
}
.latestblogposts{
    width: 220px;
    height: 250px;
}
.photostream{
    width: 260px;
    height: 250px;
}
.contact{
    margin-top: 20px;
}
.data{
    margin-top: 20px;
}
.followus{
    margin-top: 20px;
}

.copyright{
    text-align: center;
    margin-bottom: 15px;
    margin-left: 90px;
}
.copyright span{
    color: orangered;
}

@media screen and (max-width:  768px){
footer{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-left: 40%;
}

}
    

