/* IMPOSTAZIONI GENERALI */
body{
    font-family: 'Fira Sans', sans-serif;
    font-size: 1.5rem;
    line-height:  1.5;

}

h1, h2, h3, h4, h5, h6{

    line-height: 1/1.1/1.2
}

h1{
    font-size: 4rem;
}

h2{
    font-size: 3.5rem;
}

.lni{
    color: #e42424;
}


/* HEADER */

#menu{
    background-color: white;
    height: 0;
    overflow: hidden;
    transition: height 0.5s;
}
#apri-menu{
    display: none;
}
input:checked + #menu{
    height: 100px;}

nav a{
    color: black;
    text-decoration: none;
}
header img{
    width: 230px;
    
}

header div{
    background-image: url(..//images/banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    padding: 15px;
    

    font-size: 1rem;
    
    }

button{
    width: 100px;
    height: 40px;
    font-size: 1rem;
    color: white;
    background: linear-gradient(#6cc1e2,#392f7a);
    box-shadow: 3px 3px 3px 3px black;

    
}

label{
    display: flex;
    justify-content: flex-end
}

/* MAIN */

main{
    text-align: center;
    padding: 15px;
}

main .lni{
    color: #e42424;
    font-size: 40px;
}

h3{
    font-size: 2rem;
}

main img{
    width: 100%;
    margin: 10px;
}

section{
    background-color: #0c0633;
    color: white;
    padding: 30px;
    
}

section a{
    color: white;
    text-decoration: none;
}

section button{
    margin-top: 10px;
}
/*aside*/
aside img{
    width: 80%;
    margin-left: 50px;
}

article{
    text-align: center;
}

/* FOOTER */
footer{
    background-color: rgb(238,238,238);
   padding: 20px;
}

footer button{
    width: 100%;
    height: 60px;
    font-size: 25px;
}

footer h4{
    font-size: 25px;
    font-weight: bold;
    padding-bottom: 10px;
    padding-top: 20px;
}

h6{
    padding-top:20px;
}

.tabella1{
   font-size: 20px;
   width: 100%;    
}
.tabella2{
    font-size: 20px;
    width: 100%;
    margin-top: 50px;
}
.tabella2 th{
    padding-top: 40px;
}
.tabella2 td{
    padding-top: 40px;
}


caption{
    font-size: 30px;
}

th{
    font-weight: bold;
   
    
}

thead{
    background-color: #d2dce7;
}

tfoot{
    background-color: #d2dce7;
}

section{
    font-size: 15px;
}

.contatti{
    background-color:white;
    color: black;
}

.lavora{
    background-color:white;
    color: black
}

.pulsa{
    animation-name: pulsa;
    animation-duration:2.5s;
    animation-iteration-count: infinite;
    box-shadow: 0px 0px 15px Oblack, 0px 0px 15px Oblack;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
}
@keyframes pulsa{
    0% {box-shadow: 0px 0px 90px black, 0px 0px 50px black;}
    50% {box-shadow: 0px 0px 5px yellow, 0px 0px 10px black;}
    100% {box-shadow: 0px 0px 50px black, 0px 0px 50px black ;}
}


@media screen and (min-width: 768px){

  html{
      font-size:50%;
  }

  header div{
      display: flex;
      flex-direction:column;
      height: 300px;
      padding: 70px;
      
  }

  .tabella1 {
      display: none;
  }

  h1{
      font-size:50px;
  }

  header p{
      font-size:20px;
  }

  
button{
    width: 150px;
    height: 90px;
    font-size: 2rem;
    color: white;
    background: linear-gradient(#6cc1e2,#392f7a);
    box-shadow: 50px 5px 5px px black;

    
}



  body{
      line-height: 2;
  }

     .contenitore-piccolo{

    display: flex;}
    
    .contenitore-piccolo div{
    
    flex-grow: 1;
    flex-basis: 50%;
    flex-direction: row;
    margin: 10px;
}

    main p{
        font-size:15px;
    }

    h2{
        font-size:40px;
    }

    h3{
        font-size:40px;
    }

    article{
        display: flex;
        justify-content:space-evenly;
        
    }

    article div{
        justify-content:flex-start;
        flex-direction:column;
        margin: 20px;
    }

    aside img{
        width: 300px;
        margin-bottom: 10px;
    }


    section{
        width: auto;
    }

    footer{
        font-size: 13px;
       
     
    }    
    footer .contenitore{
        display: flex;
        justify-content:space-evenly;
        flex-basis: 33%;
    }

   footer h4{
       font-size: 20px;
       padding-right: 10px;
       
       
        
    }

    textarea{
        width: 150px;
        height: 30px;

    }

    footer button{
        width:  150px;
        height: 30px;
        font-size:15px;
    }

    footer .lni{
        font-size: 30px;
    }

    h6{
        font-size: 15px;
    }

}
@media screen and (min-width=1200px){

html{
    font-size: 80%;

}
body{
    margin: 0 30px 30px 30px;
}


}

@media screen and (max-width:768px){
    .tabella2{
        display: none;
    }
}
    


    